name: Publicar Pacote Loot (Estável)

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependências de build
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Construir o pacote
        run: python -m build

      - name: Publicar no GitHub Packages
        env:
          TWINE_USERNAME: ${{ github.actor }}
          TWINE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          twine upload --repository-url https://pypi.pkg.github.com/QualidadeGestaoBRMED dist/*